@model CAGISWebsite.Models.Facts

@{
    ViewData["Title"] = "Details";
}

<div class="returnLink">
    <a asp-action="Index" class="returnIndex">Return to Did You Knows</a>
</div>

<div class="Details">

    <p class="txtUploadedDate">Uploaded: @Html.DisplayFor(model => model.DykuploadDate) </p>

    <h1 class="txtTitle">@Html.DisplayFor(model => model.Dyktitle)</h1>

    <p class="txtCategory">Category: @Html.DisplayFor(model => model.DykcategoryNavigation.CategoryName)</p>

    @if (Model.DykeditDate != Model.DykuploadDate)
    {
        <p class="txtUpdatedDate">Updated: @Html.DisplayFor(model => model.DykeditDate) </p>
    }

    @if (Model.DykimageId == null)
    {
        <img class="imgBlog" src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
    }
    else
    {
        <img class="imgBlog" src="@Model.Dykimage.ImagePath" />
    }

    <pre class="txtDescription">@Html.DisplayFor(model => model.Dyktext)</pre>

    <a asp-action="Index" class="btn btn-primary returnBtndetails">Return to Did You Knows</a>
</div>