@model CAGISWebsite.Models.Facts

@{
    ViewData["Title"] = "Details";
}

<div class="Details">

    <p class="txtUploadedDate">Uploaded: @Html.DisplayFor(model => model.DykuploadDate) </p>

    <h1 class="txtTitle">@Html.DisplayFor(model => model.Dyktitle)</h1>

    <p class="txtCategory">Category: @Html.DisplayFor(model => model.DykcategoryNavigation.CategoryName)</p>

    @if (Model.DykeditDate != Model.DykuploadDate)
    {
        <p class="txtUpdatedDate">Updated: @Html.DisplayFor(model => model.DykeditDate) </p>
    }

    @if (Model.DykimageId == null)
    {
        <img class="imgBlog" src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
    }
    else
    {
        <img class="imgBlog" src="@Model.Dykimage.ImagePath" />
    }

    <p class="txtDescription">@Html.DisplayFor(model => model.Dyktext)</p>

    <a asp-action="Index" class="btn btn-primary returnBtndetails">Return to Did You Knows</a>
</div>


@*<h1>Details</h1>

<div>
    <h4>Facts</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p>Did You Know Title: </p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dyktitle)
        </dd>
        <dt class="col-sm-2">
            <p>Did You Know Text: </p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dyktext)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>*@


