@model CAGISWebsite.Models.Contests

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contests</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Contest Title: </p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestTitle)
        </dd>
        <dt class = "col-sm-2">
            <p>Contest Text: </p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestText)
        </dd>
        <dt class = "col-sm-2">
            <p>Email: </p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            <p>Contest Start Date: </p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestStartDate)
        </dd>
        <dt class = "col-sm-2">
            <p>Contest End Date: </p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
