@model IEnumerable<CAGISWebsite.Models.Contests>

@{
    ViewData["Title"] = "Contests Page";
}

<h1>Please Select A Contest: </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <p>Contest Title</p>
            </th>
            <th>
                <p>Contest Text</p>
            </th>
            <th>
                <p>Email</p>
            </th>
            <th>
                <p>Contest Start Date</p>
            </th>
            <th>
                <p>Contest End Date</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContestTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestEndDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ContestId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
