@model CAGISWebsite.Models.Blogs

@{
    ViewData["Title"] = "Details";
}
<br />

<div>
    <a asp-action="Index" class="returnIndex">Return to Blogs</a>
</div>



<div class="BlogDetails">

    <p class="txtUploadedDate">Uploaded: @Html.DisplayFor(model => model.BlogUploadDate.ToString("hh:mm")) </p>

    <h1 class="txtTitle">@Html.DisplayFor(model => model.BlogTitle)</h1>

    
    @if (Model.BlogEditDate != Model.BlogUploadDate)
    {
        <p class="txtUpdatedDate">Updated: @Html.DisplayFor(model => model.BlogEditDate) </p>
    }

    @if (Model.BlogImageId == null)
    {
        <img class="imgBlog" src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
    }
    else
    {
        <img class="imgBlog" src="@Model.BlogImage.ImagePath" />
    }

    <p class="txtDescription">@Html.DisplayFor(model => model.BlogText)</p>

    <a asp-action="Index" class="btn btn-primary returnBtndetails">Return to Blogs</a>
</div>

@*<h1>Details</h1>

<div>
    <h4>Blogs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           <p>Blog Title: </p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt class="col-sm-2">
            <p>Blog Text: </p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>*@
