@model CAGISWebsite.Models.Blogs

@{
    ViewData["Title"] = "Details";
}

<div class="returnLink">
    <a asp-action="Index" class="returnIndex">Return to Blogs</a>
</div>



<div class="Details">

    <p class="txtUploadedDate">Uploaded: @Html.DisplayFor(model => model.BlogUploadDate) </p>

    <h1 class="txtTitle">@Html.DisplayFor(model => model.BlogTitle)</h1>

    <p class="txtCategory">Category: @Html.DisplayFor(model => model.BlogCategoryNavigation.CategoryName)</p>

    @if (Model.BlogEditDate != Model.BlogUploadDate)
    {
        <p class="txtUpdatedDate">Updated: @Html.DisplayFor(model => model.BlogEditDate) </p>
    }

    @if (Model.BlogImageId == null)
    {
        <img class="imgBlog" src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
    }
    else
    {
        <img class="imgBlog" src="@Model.BlogImage.ImagePath" />
    }

    <pre class="txtDescription">@Html.DisplayFor(model => model.BlogText)</pre>

    <a asp-action="Index" class="btn btn-primary returnBtndetails">Return to Blogs</a>
</div>

