@model IEnumerable<CAGISWebsite.Models.Blogs>

@{
    ViewData["Title"] = "Blogs Page";
}
<div class="SearchEngine">
    <h1>Please Select A Blog, or search for one</h1>
    <form asp-action="ShowSearchResults">
        <div class="form-group">
            <label for="SearchPhrase" class="control-label"></label>
            <input name="SearchPhrase" class="form-control" placeholder="Search for a blog..." style="width: 200px;" />

        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="ListPage">
    @foreach (var item in Model)
    {
        <a asp-controller="Blogs" asp-action="Details" asp-route-id="@item.BlogId">

            <div class="row" id="EachBlog">

                <div class="eachcolumn" id="ListLeftColm">
                    @if (item.BlogImageId == null)
                    {
                        <img class="eachImage" src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
                    }
                    else
                    {
                        <img class="eachImage" src="@item.BlogImage.ImagePath" />
                    }
                </div>
                
                <div class="eachcolumn" id="ListRightColm">
                    <h1 class="eachTitle">@Html.DisplayFor(modelItem => item.BlogTitle)</h1>

                    @if (item.BlogText.Length >= 250)
                    {
                        <p class="eachDescription">@Html.DisplayTextFor(modelItem => item.BlogText).Substring(0, 250)</p>
                    }
                    else
                    {
                        <p class="eachDescription">@Html.DisplayFor(modelItem => item.BlogText)</p>
                    }

                    <p>Click to view more</p>
                </div>
                
            </div>
        </a>
     }
</div>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    <p>Blog Title</p>
                </th>
                <th>
                    <p>Blog Text</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogText)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BlogId">Details</a>
                </td>
            </tr>
     }
        </tbody>
    </table>*@
