@model CAGISWebsite.Models.Activities

@{
    ViewData["Title"] = "Details";
}


<div class="returnLink">
    <a asp-action="Index" class="returnIndex">Return to Activities</a>
</div>



<div class="Details">

    <p class="txtUploadedDate">Uploaded: @Html.DisplayFor(model => model.ActivityUploadDate) </p>

    <h1 class="txtTitle">@Html.DisplayFor(model => model.ActivityTitle)</h1>


    @if (Model.ActivityEditDate != Model.ActivityUploadDate)
    {
        <p class="txtUpdatedDate">Updated: @Html.DisplayFor(model => model.ActivityEditDate) </p>
    }

    @if (Model.ActivityImageId == null)
    {
        <img class="imgBlog" src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
    }
    else
    {
        <img class="imgBlog" src="@Model.ActivityImage.ImagePath" />
    }
    <br />

    <textarea disabled class="TextareaDetails" rows="50" >@Html.DisplayFor(model => model.ActivityText)</textarea>
    
    

    <a asp-action="Index" class="btn btn-primary returnBtndetails">Return to Activities</a>
</div>

@*<h1>Details</h1>

    <div>
        <h4>Activities</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                <p>Activity Title: </p>
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ActivityTitle)
            </dd>
            <dt class = "col-sm-2">
                <p>Activity Text: </p>
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ActivityText)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
