@model IEnumerable<CAGISWebsite.Models.Activities>

@{
    ViewData["Title"] = "Activities Page";
}
<div class="SearchEngine">
    <h1>Please Select An Activity or search for one </h1>
    <form asp-action="ShowSearchResults">
        <div class="form-group">
            <label for="SearchPhrase" class="control-label"></label>
            <input name="SearchPhrase" class="form-control" placeholder="Search for an activity..." style="width: 200px;" />

        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
        <div class="form-group">
            <select asp-items="ViewBag.Categories" id="categoryDropdown" name="categoryDropdown" class="form-control, col-md-4" onchange="TTLCategoryChange()"></select>
        </div>
    </form>
    <p style="color:red"><strong>@TempData["activityErrorMessage"]</strong></p>
</div>


<div class="ListPage">
    @foreach (var item in Model)
    {
        <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.ActivityId">

            <div class="row" id="EachBlog">

                <div class="eachcolumn" id="ListLeftColm">
                    @if (item.ActivityImage == null)
                    {
                        <img class="eachImage" src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
                    }
                    else
                    {
                        <img class="eachImage" src="@item.ActivityImage.ImagePath" />
                    }
                </div>

                <div class="eachcolumn" id="ListRightColm">
                    <h1 class="eachTitle">@Html.DisplayFor(modelItem => item.ActivityTitle)</h1>

                    @if (item.ActivityText.Length >= 270)
                    {
                        <p class="eachDescription">@Html.DisplayTextFor(modelItem => item.ActivityText).Substring(0, 270) ...</p>
                    }
                    else
                    {
                        <p class="eachDescription">@Html.DisplayFor(modelItem => item.ActivityText)</p>
                    }

                    <p>Click to view more</p>
                </div>

            </div>
        </a>
    }
</div>