@model IEnumerable<CAGISWebsite.Models.Blogs>

@{
    ViewData["Title"] = "List of Blogs";
}

<h1 id="titleAllBogs">@ViewData["Title"]</h1>

<p>
    <a asp-action="CreateBlog" id="btnAddBlog">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Blog Title
            </th>
            <th>
                Blog Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.BlogImageId == null)
            {
                <td id="imgBlogImage">
                    <img src="~/Images/Cagis_logo_colour.png" />
                </td>
            }
            else
            {
                <td id="imgBlogImage">
                    <img src="@item.BlogImage.ImagePath" height="150" width="200"/>
                </td>
            }
            <td id="lblBlogTitle">
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td id="lblBlogText">
                @Html.DisplayFor(modelItem => item.BlogText)
            </td>
            <td>
                <a asp-action="EditBlog" asp-route-id="@item.BlogId" class="btn btn-primary" id="btnEditBlog">Edit</a>
                <form asp-action="DeleteBlog" onSubmit="return confirm('Are you sure you want to delete this?');" >
                    <input type="submit" id="btnDeleteBlog" value="Delete" asp-route-id="@item.BlogId" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" id="btnBlogBack">Back to Admin Panel</a>
</div>
