@model IEnumerable<CAGISWebsite.Models.Contests>

@{
    ViewData["Title"] = "List of Contests";
}

<div id="AllContestsPage">
    <h1 id="titleAllContest">@ViewData["Title"]</h1>

    <p>
        <a asp-action="CreateContest" id="btnAddContest">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Contest Title
                </th>
                <th>
                    Contest Description
                </th>
                <th>
                    Email
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="lblContestTitle">
                        @Html.DisplayFor(modelItem => item.ContestTitle)
                    </td>
                    <td id="lblContestText">
                        @Html.DisplayFor(modelItem => item.ContestText)
                    </td>
                    <td id="lblContestEmail">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td id="lblContestStartDate">
                        @Html.DisplayFor(modelItem => item.ContestStartDate)
                    </td>
                    <td id="lblContestEndDate">
                        @Html.DisplayFor(modelItem => item.ContestEndDate)
                    </td>
                    <td>
                        <a asp-action="EditContest" asp-route-id="@item.ContestId" class="btn btn-primary" id="btnEditContest">Edit</a>
                        <form asp-action="DeleteContest" onSubmit="return confirm('Are you sure you want to delete this?');">
                            <input type="submit" value="Delete" id="btnDeleteContest" asp-route-id="@item.ContestId" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index" id="btnContestBack">Back to Admin Panel</a>
    </div>
</div>

