@model IEnumerable<CAGISWebsite.Models.Facts>

@{
    ViewData["Title"] = "Did You Know";
}
<div id="AllDYKPage">
    <h1 id="titleAllDYK">@ViewData["Title"]</h1>

    <p>
        <a asp-action="CreateFact" id="btnAddDYK">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Did You Know Title
                </th>
                <th>
                    Did You Know Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if (item.DykimageId == null)
                {
                <td id="imgDYKImage">
                    <img src="~/Images/WebsiteImages/Cagis_logo_colour.png" />
                </td>
                }
                else
                {
                    <td id="imgDYKImage">
                        <img src="@item.Dykimage.ImagePath" height="150" width="200" />
                    </td>
                }
                <td id="lblDYKTitle">
                    @Html.DisplayFor(modelItem => item.Dyktitle)
                </td>
                <td id="lblDYKText">
                    @if (item.Dyktext.Length >= 230)
                    {
                        @Html.DisplayTextFor(modelItem => item.Dyktext).Substring(0, 230)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Dyktext)
                    }
                    
                </td>
                <td>
                    <a asp-action="EditFact" asp-route-id="@item.Dykid" class="btn btn-primary" id="btnEditFact">Edit</a>
                    <form asp-action="DeleteFact" onSubmit="return confirm('Are you sure you want to delete this?');">
                        <input type="submit" value="Delete" id="btnDeleteDYK" asp-route-id="@item.Dykid" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index" id="btnFactBack">Back to Admin Panel</a>
    </div>
</div>
