@model EditRole
@{
    ViewData["Title"] = "Users in " + ViewBag.RoleName;
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>

        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Any()){
    foreach (var user in Model.Users) {
        <tr>
            <td>
                @user.UserName
            </td>
            <td>
                @user.Email
            </td>
            <td>
                @user.PhoneNumber
            </td>
        </tr>
    }
}
else{
        <tr>
            <td colspan="3">
                No Users Here At The Moment
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.RoleName == "Employee" && User.IsInRole("Admin"))
{
<div class="card-footer">
    <a asp-action="EditUserInRole" asp-controller="Admin" asp-route-roleId="@Model.Id"
       class="btn btn-primary">Change Employment Status</a>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Add New Employee</a>
</div>
}