@model CAGISWebsite.Models.Archives

@{
    ViewData["Title"] = "Archived - " + Model.PostTitle;
}

<div class="Details">

    <p class="txtUploadedDate">Uploaded: @Html.DisplayFor(model => model.PostUploadDate) </p>
    <p class="txtUploadedDate">Last Edited: @Html.DisplayFor(model => model.PostLastEditedDate) </p>

    <h1 class="txtTitle">@ViewData["Title"]</h1>

    <p class="txtCategory">Category: @Html.DisplayFor(model => model.PostCategory)</p>


    <p class="txtUpdatedDate">This post was archived: @Html.DisplayFor(model => model.PostArchivedDate) </p>

    <pre class="txtDescription">@Html.DisplayFor(model => model.PostText)</pre>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary returnBtndetails">Return to Home</a>
</div>