@model CAGISWebsite.Models.Archives

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Archives</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostUploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostUploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostLastEditedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostLastEditedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostArchivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostArchivedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
